<table id="failed_charges">
  <th><h1>Failed Charges</h1></th>
  <%
    @failed_charges.each do |fc|
  %>
      <tr bgcolor="#FF0000">
        <td width="40%"><%= fc.customer.full_name %></td>
        <td width="20%"><%= fc.amount %></td>
        <td width="40%"><%= fc.created_at %></td>
      </tr>
  <% end %>
</table>

<p></p>

<table id="disputed_charges">
  <th><h1>Disputed Charges</h1></th>
  <%
    @disputed_charges.each do |fc|
  %>
      <tr bgcolor="#FF5400">
        <td width="40%"><%= fc.customer.full_name %></td>
        <td width="20%"><%= fc.amount %></td>
        <td width="40%"><%= fc.created_at %></td>
      </tr>
  <% end %>
</table>

<p></p>

<table id="successfull_charges">
  <th><h1>Successful Charges</h1></th>
  <%
    @successful_charges.each do |fc|
  %>
      <tr>
        <td width="40%"><%= fc.customer.full_name %></td>
        <td width="20%"><%= fc.amount %></td>
        <td width="40%"><%= fc.created_at %></td>
      </tr>
  <% end %>
</table>